$yellow: #ffbb00;
$orange: orange;
$green: #56ff00;
$dark-green: #006e1d;
$hover-dark-green: #00af2f;

* {
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.shine-item {
  height: 400px;
  width: 400px;
  position: absolute;
  top: 190px;
  left: -500px;
  background: $yellow;
  border-radius: 50%;
  box-shadow: 181px 163px 431px $yellow;
  animation: shine 2s infinite;
}

.button-action {
  color: #fff;
  text-decoration: none;
  padding: 20px;
  background: linear-gradient(45deg, $green, $dark-green);
  font-size: 1.4rem;
  border-radius: 10px;
  font-weight: bold;
  transition: ease-in 260ms;
  box-shadow: 0px 0px 17px $green;

  &:hover {
    background: linear-gradient(45deg, $green, $hover-dark-green);
    font-size: 1.6rem;
    color: #fff;
  }
}

.section-video {
  background: #000;
  background-image: url("./images/caio-banner.jpg");
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-color: #000;
  iframe {
    border: solid 1px $yellow;
    border-radius: 20px;
    width: 70%;
    height: 350px;
  }

  .compra-segura {
    width: 500px;
    max-width: 100%;
  }

  .text {
    h1 {
      color: #fff;
      font-size: 2.5rem;
      line-height: 1.4;
      font-weight: 700;

      b {
        color: $yellow;
        text-shadow: 9px 3px 17px $yellow;
      }
    }
  }

  .offer {
    .offer-text {
      color: $yellow;
      font-size: 1.3rem;
    }

    .offer-time {
      color: red;
      font-weight: bold;
      font-size: 1.2rem;
    }
  }
}

.section-about {
  background: linear-gradient(45deg, #000000, #000000);
  color: #fff;

  .negative-margin {
    margin-top: -10%;
  }

  .bronca {
    width: 100%;
    border-radius: 50px;
  }

  ul {
    font-size: 1.3rem;
    list-style: none;
    line-height: 2;

    li {
      display: flex;
      align-items: center;
    }

    svg {
      path {
        fill: red;
      }
    }
  }
}

.section-how-works {
  background-color: #000;
  margin-top: -2%;
  color: #fff;
  padding-top: 20px;
  padding-bottom: 20px;
  b {
    font-size: 1.3rem;
  }
  .module-box {
    padding: 15px;
    border-radius: 15px;
    background: linear-gradient(45deg,#ffdb00, #fab700);
    box-shadow: 0px 6px 20px 3px #fab700;
    color: rgb(255, 255, 255);
    text-align: center;
    font-size: 1rem;
    margin-top: 10px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    height: 270px;
    font-weight: bold;
  }
}

.section-garanti {
  img {
    width: 300px;
  }
  .margin-negative {
    margin-top: -70px;
  }
}

.section-faq {
  padding-bottom: 20px;
  background-color: #000; 
  padding-bottom: 30px;
  h1 {
    color: #fff;
  }
}

.section-depoiments {
  background-image: url("./images/dogs-of-various-sizes-close-up-web-banner-susan-schmitz.jpg");
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-color: #000;
  color: $yellow;
  text-shadow: 9px 3px 17px $yellow;
  padding: 55px;
  padding-bottom: 85px;
  img {
    margin-top: 8px;
    width: 100%;
    border: solid 2px $yellow;
  }
}

footer {
  background-color: #000;
  text-align: center;
  color: $yellow;
  height: 60px;
  padding-top: 30px;
  padding-bottom: 50px;
  border-top: solid 1px;
}

@media screen and (max-width: 768px) {
  .button-action {
    font-size: 1.1rem;
    &:hover {
      font-size: 1.2rem;
    }
  }
  .section-how-works {
    margin-top: -5%;
  }
  .section-video{
    .text {
      h1{
        font-size: 1.4rem;
      }
    }
  }
  .section-depoiments{
    background-size: auto;
    background-attachment: fixed;
  }
}

@media screen and (max-width: 362px) {
  .button-action {
    font-size: 0.8rem;
    &:hover {
      font-size: 0.81rem;
    }
  }
  .section-how-works {
    margin-top: -5%;
  }
  .section-video{
    .text {
      h1{
        font-size: 1.4rem;
      }
    }
  }
  .section-depoiments{
    background-size: auto;
    background-attachment: fixed;
  }
}


@keyframes shine {
  0% {
    background: $yellow;
    border-radius: 50%;
    box-shadow: 181px 163px 431px #ffbb002c;
  }

  45% {
    background: $yellow;
    border-radius: 50%;
    box-shadow: 181px 163px 431px #ffbb000e;
  }

  70% {
    background: $yellow;
    border-radius: 50%;
    box-shadow: 181px 163px 431px #ffbb002c;
  }

  100% {
    background: $yellow;
    border-radius: 50%;
    box-shadow: 181px 163px 431px #ffbb0015;
  }
}